.pvc {
  //   background-image: linear-gradient(
  //     -100deg,
  //     rgba(85, 134, 128, 0.56) 0%,
  //     rgba(242, 243, 242, 0.725) 100%
  //   );
  background-color: blue;
  display: flex;
  min-height: 60vh;
  &__section1 {
    display: inline-block;
    position: relative;
    flex: 1.3;
    background-color: red;
    &__text {
      word-break: break-all;
      &__title {
        font-weight: 600;
      }
      font-size: 20px;
      //vw shrink and expand
      // px no shrinking
      margin: auto;
      width: 25vw;
      margin-top: 3vw;
      background-color: blueviolet;
    }
  }
  &__section2 {
    position: relative;
    flex: 1;
    background-color: yellow;
  }
  &__section3 {
    position: relative;
    flex: 1.3;
    background-color: green;
  }
}
