.aboutus {
  position: relative;
  &__img {
    object-fit: cover;
    height: 280px;
    width: 100%;
    filter: blur(1px);
    display: block;
    /*
    You're seeing the space for descenders (the bits that hang off the bottom of 'y' and 'p')
     because img is an inline element by default. This removes the gap:
      display: block;
    */
    &__textblock {
      font-weight: 200;
      position: absolute;
      width: 70vw;
      height: 100px;
      @media screen and (max-width: 800px) {
        width: 70vw;
        height: 20px;
        padding: 20px;
        font-size: 7.5vw;
      }
      padding: 50px;
      border: 1px solid rgba(189, 248, 204, 0.726);

      display: flex;
      justify-content: center;
      align-items: center;
      // position: absolute;
      font-size: 3.5vw;
      letter-spacing: 2px;
      color: white;

      top: 50%; /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      margin-left: -0.2%;
      transform: translate(
        -50%,
        -50%
      ); /* This is a shorthand of
      translateX(-50%) and translateY(-50%) */
    }
  }
}
