.hottar {
  background-image: linear-gradient(
    -100deg,
    rgba(190, 233, 228, 0.56) 0%,
    rgba(242, 243, 242, 0.725) 100%
  );
  // background-color: blue;
  display: flex;
  min-height: 60vh;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    min-height: 150vh;
  }
  &__section1 {
    display: inline-block;
    position: relative;
    flex: 1.3;
    // background-color: red;
    @media screen and (max-width: 800px) {
      flex: 0.1;
    }
    &__text {
      word-break: break-all;
      &__title {
        margin-bottom: 1vw;
        font-weight: 600;
        // background-color: blueviolet;
      }
      font-size: 20px;

      margin: auto;
      width: 25vw;
      margin-top: 3vw;
      @media screen and (max-width: 800px) {
        width: 90vw;
        margin-top: 5vw;
      }
      // background-color: blueviolet;
    }
  }
  &__section2 {
    position: relative;
    flex: 1;
    // background-color: yellow;
    @media screen and (max-width: 800px) {
      flex: 1;
    }
    &__img {
      @media screen and (max-width: 800px) {
        height: 50vh;
        width: 80vw;
      }
      background-position: top;
      background-size: cover;
      border-radius: 5px;
      box-shadow: 7px 7px 5px rgb(100, 100, 100);
      background-image: url(../../images/flatroof/hottar.png);
      height: 50vh;
      width: 25vw;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  &__section3 {
    position: relative;
    flex: 1.3;
    // background-color: green;
    @media screen and (max-width: 800px) {
      flex: 0.1;
    }
    &__text {
      & > ul > li {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 800px) {
        width: 90.5vw;
      }
      word-break: break-all;
      &__title {
        font-weight: 600;
      }
      font-size: 20px;
      padding: 10px;
      margin: auto;
      width: 29.5vw;
      margin-top: 3vw;
      // background-color: blueviolet;
    }
  }
}
