.paragraph1 {
  background-image: linear-gradient(
    -100deg,
    rgba(190, 233, 228, 0.56) 0%,
    rgba(242, 243, 242, 0.725) 100%
  );
  /* display: grid; */
  height: 70vh;
  display: flex;

  @media screen and (max-width: 800px) {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
}
.paragraph1-leftside {
  position: relative;
  background-color: #ff9e2c;
  flex: 1;
  @media screen and (max-width: 800px) {
    flex: 2;
  }
}
.paragraph1-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30vw;
  @media screen and (max-width: 800px) {
    text-align: center;
    width: 80vw;
  }
}

.paragraph1-rightside {
  position: relative;
  text-align: center;
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}
.paragraph1-img {
  background-color: blue;
  height: 200px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
