.paragraph-footer {
  background-image: linear-gradient(
    -100deg,
    rgba(190, 233, 228, 0.56) 0%,
    rgba(242, 243, 242, 0.725) 100%
  );
  height: 30vh;
  text-align: center;
  padding: 10vw;
}
