$color-white: white;
$color-black: #0000;
$color-primary: rgba(40, 180, 157, 0.549);
$default-font-size: 1.5vw;
$color-grey-dark: #777;
.submit {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    @media screen and (max-width: 800px) {
      //left: 15%;
      font-size: 1rem;
      border-radius: 0.5rem;
      padding: 1.5vw;
    }
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.contactcontainer {
  min-height: 70vh;
  background-size: cover;
  /*transparent 50% */
  background-image: linear-gradient(
      rgba(226, 243, 220, 0.8) 0%,
      rgba(206, 252, 249, 0.5) 50%
    ),
    url(../../images/backgroundimage/ontheroof.jpg);

  @media screen and (max-width: 800px) {
    height: 100vh;

    background-image: linear-gradient(
        rgba(226, 243, 220, 0.8) 0%,
        rgba(206, 252, 249, 0.5) 50%
      ),
      url(../../images/backgroundimage/ontheroof.jpg);
  }
}
.formtitle {
  font-size: 2vw;
  color: white;
  text-align: center;
  margin-top: 5vh;
  font-weight: 600;
  @media screen and (max-width: 800px) {
    font-size: 5vw;
    margin-top: 1vh;
  }
}
.formcontainer {
  display: block;
  text-align: center;
}
.formsection1 {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 800px) {
    display: inline;
  }
}
.formsection2 {
  display: flex;
  flex-wrap: wrap;
}
.formbutton {
  margin: auto;
  @media screen and (max-width: 800px) {
    margin-top: 50px;
  }
}

.form {
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vw;
  text-align: left;

  @media screen and (max-width: 800px) {
    display: inline;
    padding: 1.5rem 2rem;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;

    @media screen and (max-width: 800px) {
      position: relative;
    }
  }
  &__input {
    font-size: 1.8vw;
    font-family: inherit;
    padding: 0.2vw;
    border-radius: 2px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    @media screen and (max-width: 800px) {
      font-size: 16px;
      margin: auto;
      padding: 1vw;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }

    &::-webkit-input-placeholder {
      color: grey;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  // &__input:placeholder-shown + &__label {
  //   opacity: 0;
  //   visibility: hidden;
  //   transform: translateY(-4rem);
  // }
}
